@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --pink: #ff046f;
  --voilet: #c63bfa;
}
* {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ::selection {
  background: var(--pink);
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.heading {
  font-size: 4rem;
  color: var(--pink);
  text-align: center;
  padding: 0 1rem;
  padding-top: 6rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.title {
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: #aaa;
  text-transform: lowercase;
}
header {
  width: 96%;
  background: #fff;
  position: relative;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: 0.2s;
}
.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header .navbar ul li {
  margin: 0 1rem;
}
header .navbar ul li a {
  font-size: 1rem;
  color: var(--pink);
  transition: 0.2s;
}
header .navbar ul li .active,
header .navbar ul li a:hover {
  color: var(--voilet);
}
header .logo {
  font-size: 2.5rem;
  color: var(--voilet);
  text-transform: uppercase;
}
header .logo i {
  color: var(--pink);
  padding: 0.2rem;
}
header .fa-bars {
  font-size: 3rem;
  color: var(--pink);
  cursor: pointer;
  display: none;
  transition: 0.2s;
}
.home {
  min-height: 100vh;
  background: linear-gradient(rgba(198, 59, 250, 0.8), rgba(198, 59, 250, 0.8)),
    url("https://revaeduin.s3.ap-south-1.amazonaws.com/uploads/images/642bf9dc2bc7b1680603612.webp")
      no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}
.left-logo,
.right-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  z-index: 1;
}

.left-logo {
  left: 20px;
}

.right-logo {
  right: 20px;
}

.home .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 14rem;
  padding-bottom: 8rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.home .content h1 {
  font-size: 5rem;
  color: #fff;
  padding: 0 1rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
.home .content p {
  font-size: 2.2rem;
  color: #eee;
  padding: 1rem 25rem;
  text-transform: lowercase;
}
.name {
  text-transform: capitalize;
}
.home .content button {
  height: 4rem;
  width: 20rem;
  border-radius: 5rem;
  background: var(--pink);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
.home .content button:hover {
  letter-spacing: 0.2rem;
}
.home .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home .box-container .box {
  height: 23rem;
  width: 25rem;
  background: #fff;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
  cursor: pointer;
}
.home .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: var(--voilet);
  font-size: 3rem;
  margin: 2rem 0;
  transition: 0.2s;
}
.home .box-container .box h3 {
  font-size: 2rem;
  color: var(--pink);
  transition: 0.2s;
}
.home .box-container .box p {
  font-size: 1rem;
  padding: 0.7rem 2rem;
  color: #666;
  text-transform: lowercase;
}
.home .box-container .box:hover i {
  background: var(--pink);
}
.home .box-container .box:hover h3 {
  color: var(--voilet);
}
.home::before {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 70vh solid #fff;
  width: 120%;
  border-radius: 50%;
  z-index: -1;
}
.speakers {
  background: #f9f9f9;
}
.speakers .heading {
  color: var(--voilet);
}
.about .row, .partners .row, .speakers .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .row .image img, .partners .row .image img, .speakers .row .image img{
  height: 70vh;
  width: 50vw;
}
.about .row .content, .partners .row .content, .speakers .row .content {
  padding-left: 5rem;
}
.about .row .content h3{
  font-size: 3rem;
  color: var(--pink);
}
.partners .row .content h3{
  font-size: 3rem;
  color: var(--pink);
  text-transform: capitalize;

}
.speakers .row .content h3 {
  font-size: 3rem;
  color: var(--voilet);
  text-transform: capitalize;

}

.about .row .content p, .partners .row .content p {
  font-size: 1.6rem;
  color: #999;
  padding: 1rem 0;
  text-transform: lowercase;
  text-align: justify;
}
.about .row .content button {
  height: 3.8rem;
  width: 17rem;
  background: var(--voilet);
  color: #fff;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}
.about .row .content button:hover {
  letter-spacing: 0.2rem;
  opacity: 0.8;
}
.committee {
  background: #f9f9f9;
}
.committee .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.committee .card-container .card {
  padding: 2rem;
  margin: 2rem;
  background: #fff;
  text-align: center;
  width: 38rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
.committee .card-container .card img {
  height: 35rem;
  width: 100%;
  object-fit: cover;
  transition: 0.2s;
}
.committee .card-container .card:hover img {
  filter: grayscale();
}
.committee .card-container .card h3 {
  color: var(--pink);
  padding: 0.5rem;
  font-size: 2rem;
}
.committee .card-container .card p {
  font-size: 1.7rem;
  color: #666;
}
.committee .card-container .card .icons a {
  font-size: 1.9rem;
  padding: 1.5rem 0.5rem;
  color: var(--pink);
}
.committee .card-container .card .icons a:hover {
  color: var(--voilet);
}
.papers .box-container {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 4rem;
  flex-wrap: wrap;
}
.papers .box-container .box {
  height: 23rem;
  width: 28rem;
  margin: 3.5rem 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0 0.1rem var(--voilet),
    0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.papers .box-container .box i {
  height: 10rem;
  width: 10rem;
  line-height: 8rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: var(--pink);
  margin-top: -4rem;
  border: 1rem solid #fff;
  border-left: 1rem solid var(--pink);
  border-right: 1rem solid var(--pink);
  box-shadow: 0 0 0 1rem #fff inset;
  font-size: 3.5rem;
}
.papers .box-container .box h3 {
  font-size: 2rem;
  color: var(--voilet);
}
.papers .box-container .box p {
  font-size: 1.5rem;
  color: #999;
  padding: 1rem 0;
  text-transform: lowercase;
}
.foreign-committee{
  background: #f9f9f9;
}
.international-committee {
  background: #fff;
}
.foreign-committee .box-container, .international-committee .box-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  flex-wrap: wrap;
  padding: 4rem 0;
}
.foreign-committee .box-container .box, .international-committee .box-container .box {
  width: 28rem;
  height: 15rem;
  padding-bottom: 1rem;
  text-align: center;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  background: #fff;
  margin: 4rem 2rem;
  justify-content: center;
  align-items: center;
  
}
.foreign-committee .box-container .box img, .international-committee .box-container .box img  {
  height: 8.5rem;
  width: 8.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -4rem;
  border: 0.6rem solid var(--pink);
  border-left: 0.6rem solid var(--voilet);
  border-bottom: 0.6rem solid var(--voilet);
}
.foreign-committee .box-container .box h3 , .international-committee .box-container .box h3 {
  font-size: 2rem;
  color: var(--pink);
  padding: 0 0.5rem;
}
.foreign-committee .box-container .box p, .international-committee .box-container .box p{
  padding: 0 1.3rem;
  color: #999;
  font-size: 1.4rem;
}
.foreign-committee .box-container .box p span, .international-committee .box-container .box p span {
  padding: 0 1rem;
}
.institution {
  display: block;
}
.contact {
  background: #333;
}
.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}
.contact .row .image img {
  width: 40vw;
  height: 70vh;
}
.contact .row .form-container {
  width: 50%;
  padding-right: 6rem;
}
.contact .row .form-container input,
textarea {
  height: 4rem;
  width: 85%;
  background: #fff;
  border: none;
  border-radius: 5rem;
  padding: 0 1rem;
  text-transform: lowercase;
  margin: 1rem 0;
  color: var(--pink);
  font-size: 1.7rem;
  transition: 0.2s linear;
}
.contact .row .form-container button {
  height: 4rem;
  width: 85%;
  background: #fff;
  border: none;
  border-radius: 5rem;
  padding: 0 1rem;
  text-transform: lowercase;
  margin: 1rem 0;
  color: var(--pink);
  font-size: 1.7rem;
  transition: 0.2s linear;
}
.contact .row .form-container input:focus,
textarea:focus {
  border: 0.2rem solid var(--pink);
}
.contact .row .form-container button:focus {
  border: 0.2rem solid var(--pink);
}
.contact .row .form-container textarea {
  height: 20rem;
  border-radius: 1rem;
  resize: none;
  padding: 1rem;
  margin-bottom: 10px;
}
.contact .row .form-container button {
  display: block;
  width: 17rem;
  background: var(--pink);
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
  margin-top: 10px;
}
.contact .row .form-container button:hover {
  background: none;
  color: var(--pink);
  border: 0.2rem solid var(--pink);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 6rem;
}

.contact-info {
  border: 1px solid var(--pink);
  padding: 5rem;
  width: 30rem;
  background: #f9f9f9;
  border-radius: 2rem;
  margin-bottom: 20px;
}
.contact-info h3 {
  font-size: 1.8rem;
}
.contact-info p {
  color: #999;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.contact-info .official-email {
  text-transform: lowercase;
}
.map iframe {
  max-width: 100%;
}
.footer {
  text-align: center;
}
.footer .icons {
  padding: 3rem 0;
}
.footer .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.2rem;
  text-align: center;
  border-radius: 50%;
  color: var(--voilet);
  border: 0.2rem solid var(--voilet);
  font-size: 2rem;
  margin: 0 0.1rem;
  transition: 0.2s linear;
}
.footer .icons a:hover {
  color: #fff;
  background: var(--pink);
  border-color: var(--pink);
}
.footer .credit {
  font-size: 2rem;
  border-top: 0.1rem solid #999;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #666;
  width: 90%;
  padding: 1rem 0;
  font-family: "Times New Roman", Times, serif;
  text-transform: lowercase;
}
.footer .credit span {
  color: var(--pink);
  font-family: "Times New Roman", Times, serif;
  text-transform: lowercase;
}
.tick {
  width: 20%;
  padding-left: 30px;
  margin-left: 10rem;
}
.redirect-page {
  color: var(--pink);
  font-size: 1.5rem;
  text-align: center;
}



header .fa-times {
  transform: rotate(180deg);
  color: var(--voilet);
}

/* media queries */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    opacity: 0;
    transition: 0.2s linear;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  header .navbar ul li a {
    font-size: 3rem;
    display: block;
  }
  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }
  .home .content p {
    padding: 1.5rem 2rem;
  }
  .home::before {
    display: none;
  }
  .left-logo{
  position: absolute;
  top: 50%;
  transform: translateY(-210%);
  width: 130px;
  padding-right: 10px;
  padding-bottom: 10px;
  }
  .right-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-235%);
    padding-left: 25px;
    padding-bottom: 15px;
    width: 200px;
  }

  .left-logo {
  left: 20px;
  }

  .right-logo {
  right: 20px;
  }

  .about .row , .partners .row, .speakers .row{
    flex-flow: column-reverse;
  }
  .about .row .image img , .partners .row .image img, .speakers .row .image img{
    height: 60vh;
    width: 90vw;
  }
  .about .row .content h3 , .partners .row .content h3, .speakers .row .content h3{
    padding: 0 2.5rem;
  }
  .about .row .content p, .partners .row .content p  {
    padding: 0 2.5rem;
  }
  .course .box-conatiner {
    width: 100%;
  }
  .contact .row {
    flex-flow: column;
  }
  .contact .row .image img {
    height: 50vh;
    width: 90vw;
  }
  .contact .row .form-container {
    width: 100%;
    padding-left: 10rem;
  }
  .contact .row .form-container input,
  textarea {
    width: 100%;
  }
  .container {
    padding-left: 9rem;
  }
  .redirect-page {
    padding: 20px;
  }
}
